@font-face {
	font-family: 'Cantarell';
	src: url('_fonts/Cantarell-Regular-webfont.eot');
	src: url('_fonts/Cantarell-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('_fonts/Cantarell-Regular-webfont.woff') format('woff'), url('_fonts/Cantarell-Regular-webfont.ttf') format('truetype'), url('_fonts/Cantarell-Regular-webfont.svg#webfont9UOzsjXz') format('svg');
	font-weight: normal;
	font-style:normal;
}

@font-face {
	font-family: 'Cantarell';
	src: url('_fonts/Cantarell-Oblique-webfont.eot');
	src: url('_fonts/Cantarell-Oblique-webfont.eot?#iefix') format('embedded-opentype'), url('_fonts/Cantarell-Oblique-webfont.woff') format('woff'), url('_fonts/Cantarell-Oblique-webfont.ttf') format('truetype'), url('_fonts/Cantarell-Oblique-webfont.svg#webfontRl4nowrT') format('svg');
	font-weight: normal;
	font-style:italic;
}

@font-face {
	font-family: 'Cantarell';
	src: url('_fonts/Cantarell-Bold-webfont.eot');
	src: url('_fonts/Cantarell-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('_fonts/Cantarell-Bold-webfont.woff') format('woff'), url('_fonts/Cantarell-Bold-webfont.ttf') format('truetype'), url('_fonts/Cantarell-Bold-webfont.svg#webfontKr2CkGZp') format('svg');
	font-weight: bold;
	font-style:normal;
}

@font-face {
	font-family: 'Cantarell';
	src: url('_fonts/Cantarell-BoldOblique-webfont.eot');
	src: url('_fonts/Cantarell-BoldOblique-webfont.eot?#iefix') format('embedded-opentype'), url('_fonts/Cantarell-BoldOblique-webfont.woff') format('woff'), url('_fonts/Cantarell-BoldOblique-webfont.ttf') format('truetype'), url('_fonts/Cantarell-BoldOblique-webfont.svg#webfontQ1aSR0ux') format('svg');
	font-weight: bold;
	font-style:italic;
}
/*--------------------------css reset---------------------------*/
html,head,body,section,header,img,nav,ul,li,section,a,h1,p,i,aside,input,select,option,form,label{
    padding:0;
    margin:0;
}
/*------------general syles------------------*/
a{
    color: #000000;
    text-decoration: none;
}
/*---------------------------header styles------------------*/
body{
    padding:6px 44px 6px 44px;
    font-family: Arial, Helvetica, sans-serif;
}
header li,header img{
    display:inline;
}
.logo{
    position:relative;
    padding:0;
    bottom:2.5em;


}
.first ul li a{
    text-decoration: none;
    color:black;
    font-size: small;
    padding:6px;
    position: relative;
    left:12em;
    bottom:2.5em;
}

.second ul li a{
    float:right;
    padding:6px;
    text-decoration: none;
    color:black;
    font-size: small;
    position:relative;
    bottom:4em;

}
.second ul li{
    display: inline;

}
.border{
   border-bottom: 1px solid #7f888f;
   position: relative;
   bottom:5.5em;
}
.deal{
    position:relative;
    bottom:5em;
}
.deal+a{
    position:relative;
    bottom:7em;
    font-weight: bolder;
}
.set li{
    display:inline;
    float:right;
    bottom:5em;
    position:relative;
    bottom:8.8em;
    padding:6px;
}
/*----------------------------------main content style--------------------*/
h1{
 font-size: 3.5em;
 font-weight:12em;
}
h1+p{
    padding:10px 280px 10px 280px;
    position: relative;
    right:17em;
}
.fa-play-circle{
    color:blue;
}
.fa-play-circle+p{
    font-weight: bold;
    position: relative;
    left:3em;
    bottom:2em;
}
/*-----------------------------aside----------------------------*/
aside{
    float:right;
    position: relative;
    bottom:18em;
}
aside p{
    padding-bottom: 10px;
    padding-top:10px
}
form ul li{
    display:block;
}
form ul li:nth-child(1){
    padding-bottom: 10px;
}
form ul li:nth-child(2n){
    padding-bottom: 10px;
}
form ul li:nth-child(3n){
    padding-bottom: 10px;
}
form ul li:nth-child(4n){
    padding-bottom: 10px;
}
/*----------------------------------forms------------------------*/
#full-name{
    width:21em;
    height:2em;
}
#Email{
    width:21em;
    height:2em;
}
#password{
    width:21em;
    height:2em;
}
#country_code{
    height:2.5em;
    width:5em;
}
#tel{ width:16em;
    height:2.2em;
}
/*--------------------------this is the last paragraph under the form-----------------------*/
span{
    text-decoration: underline;
}
.last-paragraph{
    font-size: smaller;
}
br+a{
    position:relative;
    left:.1em;
    padding:1em 8em 1em 8em;
    background-color: #FF7052;
    color:white;
}
.last{
    position: relative;
    bottom:2em;
}
br+p{
    position:relative;
    left:5em;
}
.google{
    position:relative;
    color:#7f888f;
    text-decoration: none;
    left:4em;
   
}
/*----------------------icon styles--------------------*/
.fa-linkedin-square{
    position: relative;
    left:9.7em;
}
.fa-google{
    position: relative;
    left:6.5em;
}
/*-----------------------image resizing----------------*/
.big{
    /*height:25em;
    width:40em;
    position: relative;
    left:7em;*/
    width: 60%;
  height: auto;
}

